footer.section.footer-section
    .container
        .row.mb-4
            .col-md-3.mb-5
                ul.list-unstyled.link
                    li
                        a(href='#') About Us
                    li
                        a(href='#') Terms &amp; Conditions
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#') Rooms
            .col-md-3.mb-5
                ul.list-unstyled.link
                    li
                        a(href='#') The Rooms &amp; Suites
                    li
                        a(href='#') About Us
                    li
                        a(href='#') Contact Us
                    li
                        a(href='#') Restaurant
            .col-md-3.mb-5.pr-md-5.contact-info
                // <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                p
                    span.d-block
                        span.ion-ios-location.h5.mr-3.text-primary
                        | Address:
                    span
                        | 198 West 21th Street,
                        br
                        |  Suite 721 New York NY 10016
                p
                    span.d-block
                        span.ion-ios-telephone.h5.mr-3.text-primary
                        | Phone:
                    span  (+1) 435 3533
                p
                    span.d-block
                        span.ion-ios-email.h5.mr-3.text-primary
                        | Email:
                    span  info@yourdomain.com
            .col-md-3.mb-5
                p Sign up for our newsletter
                form.footer-newsletter(action='#')
                    .form-group
                        input.form-control(type='email' placeholder='Email...')
                        button.btn(type='submit')
                            span.fa.fa-paper-plane
        .row.pt-5
            p.col-md-8.text-left
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright &copy;
                script.
                    document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with
                i.fa.fa-heart.text-primary(aria-hidden='true')
                |  by
                a(href='https://colorlib.com' target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            p.col-md-4.text-right.social
                a(href='#')
                    span.fa.fa-tripadvisor
                a(href='#')
                    span.fa.fa-facebook
                a(href='#')
                    span.fa.fa-twitter
                a(href='#')
                    span.fa.fa-linkedin
                a(href='#')
                    span.fa.fa-vimeo
// Modal
#reservation-form.modal.fade(tabindex='-1' role='dialog' aria-labelledby='reservationFormTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-body
                .row
                    .col-md-12(data-aos='fade-up' data-aos-delay='100')
                        form.bg-white.p-4(action='index.html' method='post')
                            .row.mb-4
                                .col-12
                                    h2 Reservation
                            .row
                                .col-md-6.form-group
                                    label.text-black.font-weight-bold(for='name') Name
                                    input#name.form-control(type='text')
                                .col-md-6.form-group
                                    label.text-black.font-weight-bold(for='phone') Phone
                                    input#phone.form-control(type='text')
                            .row
                                .col-md-12.form-group
                                    label.text-black.font-weight-bold(for='email') Email
                                    input#email.form-control(type='email')
                            .row
                                .col-md-6.form-group
                                    label.text-black.font-weight-bold(for='checkin_date') Date Check In
                                    input#checkin_date.form-control(type='text')
                                .col-md-6.form-group
                                    label.text-black.font-weight-bold(for='checkout_date') Date Check Out
                                    input#checkout_date.form-control(type='text')
                            .row
                                .col-md-6.form-group
                                    label.font-weight-bold.text-black(for='adults') Adults
                                    .field-icon-wrap
                                        .icon
                                            span.ion-ios-arrow-down
                                        select#adults.form-control(name='')
                                            option(value='') 1
                                            option(value='') 2
                                            option(value='') 3
                                            option(value='') 4+
                                .col-md-6.form-group
                                    label.font-weight-bold.text-black(for='children') Children
                                    .field-icon-wrap
                                        .icon
                                            span.ion-ios-arrow-down
                                        select#children.form-control(name='')
                                            option(value='') 1
                                            option(value='') 2
                                            option(value='') 3
                                            option(value='') 4+
                            .row.mb-4
                                .col-md-12.form-group
                                    label.text-black.font-weight-bold(for='message') Notes
                                    textarea#message.form-control(name='message' cols='30' rows='8')
                            .row
                                .col-md-6.form-group
                                    input.btn.btn-primary.text-white.py-3.px-5.font-weight-bold(type='submit' value='Reserve Now')
script(src='/js/jquery-3.3.1.min.js')
script(src='/js/jquery-migrate-3.0.1.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/owl.carousel.min.js')
script(src='/js/jquery.stellar.min.js')
script(src='/js/jquery.fancybox.min.js')
script(src='/js/jquery.easing.1.3.js')
script(src='/js/aos.js')
script(src='/js/bootstrap-datepicker.js')
script(src='/js/jquery.timepicker.min.js')
script(src='/js/main.js')
