doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title RedPlanet &mdash; A Onepage Hotel HTML Bootstrap Website Template by Colorlib
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/animate.css')
    link(rel='stylesheet' href='/css/owl.carousel.min.css')
    link(rel='stylesheet' href='/css/aos.css')
    link(rel='stylesheet' href='/css/bootstrap-datepicker.css')
    link(rel='stylesheet' href='/css/jquery.timepicker.css')
    link(rel='stylesheet' href='/css/fancybox.min.css')
    link(rel='stylesheet' href='/fonts/ionicons/css/ionicons.min.css')
    link(rel='stylesheet' href='/fonts/fontawesome/css/font-awesome.min.css')
    // Theme Style
    link(rel='stylesheet' href='css/style.css')
nav#templateux-navbar.navbar.navbar-expand-lg.navbar-dark.pb_navbar.pb_scrolled-light
    .container
        a.navbar-brand(href='index.html')
            span.text-danger Red
            | Planet
        .site-menu-toggle.js-site-menu-toggle.ml-auto(data-aos='fade' data-toggle='collapse' data-target='#templateux-navbar-nav' aria-controls='templateux-navbar-nav' aria-expanded='false' aria-label='Toggle navigation')
            span
            span
            span
        // END menu-toggle
        #templateux-navbar-nav.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='#section-home') Home
                li.nav-item
                    a.nav-link(href='#section-about') About
                li.nav-item
                    a.nav-link(href='#section-team') Team
                li.nav-item
                    a.nav-link(href='#section-rooms') Rooms
                li.nav-item
                    a.nav-link(href='#section-menus') Menus
                li.nav-item
                    a.nav-link(href='#section-events') Events
                li.nav-item
                    a.nav-link(href='#section-contact') Contact
                li.nav-item.cta-btn.ml-xl-2.ml-lg-2.ml-md-0.ml-sm-0.ml-0
                    a.nav-link(href='#' target='_blank')
                        span.pb_rounded-4.px-4.rounded Get Started
// END nav
