include partials/header
section#section-home.site-hero.overlay(style='min-height:10px; background-image: url(images/hero_5.jpg)' data-stellar-background-ratio='0.5')
// ================ Start banner Area =================
section.banner-area.relative
.container
    .row.height.align-items-center.justify-content-center
        .banner-content.col-lg-6
            h1 User Admin
            hr
            .breadcrmb
                p
                    a(href='index.html') Databases
                    span.lnr.lnr-arrow-right
                    a(href='about.html') From  ../models
                    a(href='/contactDatabase')
                        li Contact Database
                    a(href="/eventDatabase")
                        li Event Database
                    a(href="/userDatabase")
                        li User Database

include partials/footer
